[submodule "src/github.com/pivotal-cf/service-alerts-client"]
	path = src/github.com/pivotal-cf/service-alerts-client
	url = git@github.com:pivotal-cf/service-alerts-client.git
[submodule "src/github.com/pivotal-cf/service-backup"]
	path = src/github.com/pivotal-cf/service-backup
	url = git@github.com:pivotal-cf/service-backup.git
	branch = master
