vm_types:
- name: container
  cloud_properties: {}

disk_types:
- name: 1GB
  disk_size: 1_000
  cloud_properties: {}

networks:
- name: backup-network
  subnets:
  - range: 10.244.9.0/28
    gateway: 10.244.9.1
    az: lite
    cloud_properties: {}

azs:
- name: lite
  cloud_properties: {}

compilation:
  workers: 5
  reuse_compilation_vms: true
  network: backup-network
  az: lite
  cloud_properties: {}
